 .header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/Logo.svg);
  background-size: 100%;
  margin-bottom: 41px;
  display: flex;
}

.header__logo:hover {
  transition: opacity 0.2s;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31px;
    width: 104px;
    height: 24px;
  }
}