.popup__add-place-button {
    height: 50px;
    background-color: black;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border-radius: 2px;
    border: none;
    margin-bottom: 36px;
    margin-top: 48px;
}

.popup__add-place-button:hover {
    transition: opacity 0.2s;
    opacity: 0.8;
    cursor: pointer;
}

.popup__add-place-button:enabled {
    outline: none;
}

.popup__add-place-button:active {
    border: none;
}

.popup__add-place-button:disabled {
    opacity: 0.2;
    background-color: white;
    color: black;
    cursor: default;
    border: 1px solid black;
}

@media screen and (max-width: 550px) {
    .popup__add-place-button {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 25px;
        margin-top: 15px;
}
    
}