.popup__form {
    box-sizing: border-box;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0 36px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .popup__form {
        padding: 0 22px;
        width: 270px;
    }
}